extends layout

block body
    .container.container--notfound
        header.header--notfound
            .header__text
                h2.heading-error.white 404
                p.white The page you are looking for might have been removed, had its name changed or is temporarily unavailable.
        a.link.btn(href="/" action="GET") Back to Homepage