extends layout

include mixins/_gradient

block signForms
    .container.container--sign-forms
        header.header--sign-forms
            .header__text
                h1.heading-primary TripMaster
        .form__container.form__container--hero
            .gradient-container.gradient-container--signForms
                +gradient()
            form.form
                .form__group
                    label.form__label(for="email") Email
                    input.form__input(type="email" name="email" placeholder="Email address..." required)
                .form__group
                    button.btn(type="submit" value="Send Reset") Reset My Password