mixin pagination()
    .pagination
        .pagination__prev
                a(href="#") Prev
        .pagination__text
            p Page 1 of 10
        .pagination__next
                a(href=`#`) Next