extends layout

block content
    .content.content--account
        .container.container--forms
            header.header
                h2.heading-secondary
                    span.color--secondary your
                    |  account settings
            .form__container.form__container--divided
                form.form(action="/update-account" method="POST")
                    .form__group
                        label.form__label(for="name") Name
                        input.form__input(type="text" name="name" value=`${user.name}` required)
                    .form__group
                        label.form__label(for="email") Email Address
                        input.form__input(type="email" name="email" value=`${user.email}` required)
                    .form__group
                        button.btn(type="submit" value="Update Account") Update Account
        .container.container--forms
            header.header
                h2.heading-secondary
                    span.color--secondary change
                    |  password
            .form__container.form__container--divided
                form.form(action="/update-password" method="POST")
                    .form__group
                        label.form__label(for="passwordCurrent") New Password
                        input.form__input(type="password" name="passwordCurrent" placeholder="Your current password" required)
                    .form__group
                        label.form__label(for="password") New Password
                        input.form__input(type="password" name="password" placeholder="Your new password" minlength="6" required)
                    .form__group
                        label.form__label(for="passwordConfirm") Confirm Password
                        input.form__input(type="password" name="passwordConfirm" placeholder="Confirm your password" minlength="6" required)
                    .form__group
                        button.btn(type="submit" value="Change Password") Change Password


