extends layout

include mixins/_gradient

block signForms
    .container.container--sign-forms
        header.header--sign-forms
            h1.heading-primary TripMaster
        .form__container.form__container--hero
            .gradient-container.gradient-container--signForms
                +gradient()
            form.form(action="/login" method="POST")
                .form__group
                    label.form__label(for="email") Email
                    input.form__input(type="email" name="email" placeholder="Email address..." required)
                .form__group
                    label.form__label(for="password") Password
                    input.form__input(type="password" name="password" placeholder="Password" required minlength="6")
                a.color--white(href="/forgot") Forgot your password?
                .form__group
                    button.btn(type="submit" value="Sign In") Sign In
                a.color--white(href="/signup" action="GET") Doesn't have an account?