extend layout

include mixins/_tripCard
include mixins/_pagination

block content
    .content.content--background
        .container.container--trips
            .trips
                header.header
                    h2.heading-secondary
                        span.color--secondary your upcoming
                        |  Trips
                    //- TODO each trip in 
                .trips__list
                    +tripCard()
                    +tripCard()
                    +tripCard()
                    +tripCard()
                    +tripCard()
                +pagination()
