mixin todoItem(done, description)
    - const itemDone = done ? 'done' : 'todo'
    li(class="todo__item" data-item=`${itemDone}`)
        a(href=`/:slug/todo/add` class="todo__item--icon")
            != helpers.icon(`${itemDone}`)
        p.todo__item--description=description
        .todo__item--edit
            // TODO - change routes for todo delete and edit
            a(href=`/:slug/todo/add` class="inline inline--delete")
                != helpers.icon('delete')
            a(href=`/:slug/todo/add` class="inline inline--edit")
                != helpers.icon('edit')