.expenses {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  height: 100%;
  width: 100%;
  padding-bottom: 2rem;

  &__list {
    overflow-y: scroll;
    margin-bottom: $gap-big;
  }
}

.expense {
  position: relative;
  display: grid;
  grid-template-columns: 25% 1fr min-content;
  padding: $gap-medium 0;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: $gray-dark;
  }

  &:last-of-type:after {
    display: none;
  }

  &__time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    @include mq(ld) {
      flex-direction: row;
    }

    p {
      font-size: 1.2rem;
      padding: $gap-small 0;

      @include mq(md) {
        font-size: 1.8rem;
        padding: $gap-medium 0;
      }

      @include mq(ld) {
        padding-right: $gap-medium;
      }

      &:first-child {
        font-weight: bold;
      }
    }
  }

  &__details {
    padding-left: $gap-medium;
    color: $theme-secondary;

    @include mq(md) {
      padding-left: $gap-big;

      p, span {
        font-size: 2rem;
      }
    }

    @include mq(ld) {
      display: flex;
      align-items: center;
    }

    p > span {
      display: inline-block;
    }

    h3 {
      padding: $gap-small 0;

      @include mq(md) {
        padding: $gap-medium 0;
      }

      @include mq(ld) {
        padding: $gap-medium $gap-big;
      }
    }
  }

  &__tags {
    display: flex;

    .tag {
      color: $gray-dark;
      padding-right: $gap-small;
    }

    @include mq(md) {
      font-size: 1.8rem;
    }
  }

  &__edit {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    @include mq(ld) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    svg {
      width: 2rem;
      height: 2rem;
      margin: 2px;

      @include mq(ld) {
        width: 2.5rem;
        height: 2.5rem;
        margin: $gap-small;
      }
    }

  }
}