@keyframes flashIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.flash {
  position: absolute;
  top: 10rem;
  left: 50vw;
  transform: translateX(-50%);
  width: 50vw;
  max-width: 100%;
  padding: 1rem 2rem;
  border-radius: 5px;
  color: $white;
  display: flex;
  animation: flashIn forwards .5s ease;
  z-index: 999;

  &__text {
    flex: 1;
  }
  &__remove {
    color: $white;
    background: none;
    border: 0;
    &:hover {
      cursor: pointer;
    }
  }

  &--success {
    background-color: $theme-primary;
  }
  &--error {
    background-color: $theme-secondary;
  }
}