/* TIMELINE DEPENDENT VARIABLES */
$event-padding: 1rem;
$text-padding-top: 5px;
$timeline-line-width: 1px;

@mixin pin-size($prop) {
  #{$prop} : 2.5rem;

  @include mq(md) {
    #{$prop}: 4rem;
  }
}

@mixin svg-size($prop) {
  #{$prop} : 2rem;

  @include mq(md) {
    #{$prop}: 3rem;
  }
}


.itinerary {
  padding: 1rem auto;
  height: 85vh;

  &__map {
    background: url('/images/photos/map_placeholder.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;

    &--container {
      width: 100%;
      height: 40%;
      margin-bottom: 1rem;
    }
  }

  &__timeline {
    &--container {
      width: 100%;
      height: 55%;
      overflow: scroll;
      padding: 1rem 0 1.5rem 0;
    }
  }

  &__event {
    display: grid;
    grid-template-columns: 25% min-content 1fr;
    padding-bottom: $event-padding;

    &:nth-last-of-type(1) {
      .itinerary__icon:before {
        background-color: red;
      }
    }

    &:last-of-type {
      color: $theme-secondary;

      svg {
        fill: $theme-secondary;
      }
      .itinerary__icon:before {
        display: none;
      }
    }
  }

  &__time {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;

    p {
      font-size: 1.2rem;
      word-wrap: normal;
      margin: 3px 0;

      &:first-child {
        font-weight: bold;
      }
    }
  }

  &__icon {
    justify-self: center;
    position: relative;
    padding: 0 5px;

    &:before {
      content: '';
      position: absolute;
      @include pin-size('top');
      left: calc(50% - #{$timeline-line-width});
      width: $timeline-line-width;
      height: calc(100% - 2.5rem + #{$event-padding});
      background-color: $gray-dark;
    }
    svg {
      @include pin-size('width');
      @include pin-size('height');
      fill: $gray-dark;
    }

    &[data-pin='pin-now'] {
      &:before {
        background-color: $theme-primary;
      }
      svg {
        fill: $theme-primary;
      }
    }

    &[data-pin='pin-next'] {
      svg {
        fill: $black;
      }
    }
  }

  &__details {
    position: relative;

    .chevron {
      position: absolute;
      top: 0;
      @include svg-size('right');

      &:hover {
        cursor: pointer;
      }

      &--active {
        transform: rotate(180deg);
      }

      svg {
        @include svg-size('width');
        @include svg-size('height');
        fill: $gray-dark;
      }
    }

    span {
      color: $gray-dark;
      line-height: 1.6;
    }
  }

  &__description {
    max-height: 0;
    transition: all 0.35s ease;
    overflow: hidden;

    &--active {
      max-height: 100%;
      transition: all 0.35s ease;
    }

    svg {
      @include svg-size('width');
      @include svg-size('height');
      margin: 1rem;
      margin-left: 0;
    }
  }
}
