.pagination {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $white;
  box-shadow: $shadow-light;
  margin-top: auto;

  @include mq(ld) {
    margin-bottom: 1.5rem;
  }

  @include mq(xld) {
    margin-bottom: 2rem;
  }

  &__next {
    flex: 0 0 auto;
    padding: 1rem;
    a:after {
      margin-left: 1rem;
      content: '→';
    }
  }
  &__prev {
    flex: 0 0 auto;
    padding: 1rem;
    a:before {
      margin-right: 1rem;
      content: '←';
    }
  }
  &__text {
    flex: 3 0 auto;
    padding: 1rem;
    text-align: center;
  }
}
