.todo {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  height: 100%;
  width: 100%;
  padding-bottom: 2rem;


  &__container {
    overflow-y: scroll;
    margin-bottom: $gap-medium;

    svg {
      width: 2rem;
      height: 2rem;
    }
  }

  &__category {
    margin-bottom: $gap-small;
  }

  &__header {
    background-color: $gray-dark;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $white;
    padding: 2px $gap-medium;

    span, h3 {
      font-size: 1.4rem;
      font-weight: normal;
    }

    .chevron {
      transition: transform 0.35s 0.2s ease;

      &--active {
        transform: rotate(180deg);
        transition: transform 0.35s 0.2s ease;
      }

      svg {
        fill: $white;
      }
    }
  }

  &__list {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.35s 0.2s ease;

    &--active {
      max-height: 100%;
      opacity: 1;
      transition: all 0.35s 0.2s ease;
    }
  }

  &__item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $gap-medium;
    text-align: center;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $gray-dark;
    }

    &:last-child:after {
      display: none;
    }

    p {
      position: relative;
      display: inline-block;
      width: 100%;
      margin-left: $gap-small;
    }

    &--icon {
      svg {
        fill: $gray-dark;
      }
    }

    &--edit {
      display: flex;
      justify-content: space-between;
      align-items: center;

      a {
        padding-left: $gap-small;
      }
    }

    &[data-item="done"] {
      p:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $theme-primary;
      }

      .todo__item--icon {
        svg {
          fill: $theme-primary;
        }
      }
    }
  }
}