.trips {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  padding-bottom: 2rem;
  @include stretch;
  overflow-y: scroll;

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(26rem, 1fr));
    grid-template-rows: min-content;
    grid-gap: $gap-small;
    margin-bottom: $gap-medium;

    @include mq(md) {
      grid-gap: $gap-medium;
    }

    @include mq(ld) {
      grid-gap: $gap-big;
      margin-bottom: $gap-big;
    }

    @media screen and (min-width: 1024px) and (orientation: portrait),
      (min-width: 1200px) {
      grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    }
  }
}

.trip {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  height: 100%;

  @include mq(md) {
    flex-direction: column;
    margin-bottom: 2rem;
  }

  &__photo {
    width: 25%;
    height: 100%;

    @include mq(md) {
      width: 100%;
      height: 15vh;
    }

    @include mq(ld) {
      height: 18vh;
    }

    @include mq(xld) {
      height: 25vh;
    }
  }

  &__photo-img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  &__details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    flex-grow: 1;
    padding-left: 1rem;
    height: 90%;
    box-shadow: $shadow-light;

    @include mq(md) {
      width: 100%;
      height: auto;
      padding: 0 1.5rem;
    }
  }

  &__data {
    display: flex;
    align-items: center;

    @include mq(md) {
      padding-bottom: $gap-medium;
    }
  }

  svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: $theme-primary;
    margin-right: 8px;

    @include mq(md) {
      width: 2rem;
      height: 2rem;
      margin-right: 2rem;
    }
  }
}
