// FONTS
// LOGO:  font-family: 'Mr Dafoe', cursive;
// TEXT:  font-family: 'Lato', sans-serif;

html {
  font-size: 10px;
}

body {
  font-size: $text-primary-screen;
  font-family: 'Lato', sans-serif;
  color: $black;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: $black;

  &:hover {
    text-decoration: underline;
  }
}

ul {
  list-style: none;
}

.heading-primary {
  top: 5rem;
  font-size: 3.6rem;
  font-family: 'Mr Dafoe', cursive;
  color: $white;
  margin: 4rem;
}

.heading-error {
  font-size: 5rem;
  margin-bottom: 1rem;
}

.white {
  color: $white;
}
