.btn {
  width: 25rem;
  height: 4rem;
  text-align: center;
  background-color: $theme-secondary;
  border: none;
  box-shadow: 2px 2px 4px rgba($black, 0.8);
  color: $gray-light;
  text-transform: uppercase;

}